@media only screen and (max-width: 1200px) {


    .Nav-Logo {
        font-size: 20px;
        margin-left: 2vw;
    }

    .Nav li {
        display: block;
        margin: 0.5vh auto;
    }

    .Nav li a{
        font-size: 30px;
        color:rgb(0, 0, 0);
        font-weight: bold;
        padding: 0;
        background-color: transparent;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        transition: box-shadow 0.3s, background-color 0.5s, color 0.2s, border 0.5s;
    }

    #Nav-Check{
        display: block;
    }

    .Nav{
        display: flex;
        flex-direction: column;
        position: fixed;
        width: 50%;
        height: 100vh;
        padding: 2%;
        left: -100%;
        top: 0;
        border-radius: 0 23px 23px 0;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 9px rgba(175, 175, 175,0.5);
        text-align: center;
        overflow: auto;
        transition: all .5s;
    }

    #Check:checked ~ .Nav {
        left: 0;
    }

    #About-Me-Cover h2 {
        font-size: 5rem;
    }
    
    #About-Me-Detail #About-Me-Detail-Head h2 {
        font-size: 5rem;
    }

    #About-Me-Detail-Content {
        font-size: 1.5rem;
    }

    #About-Me-Detail #About-Me-Comment h2 {
        font-size: 4rem;
    }

    #About-Me-Comment-Details .Comment {
        font-size: 1.5rem;
    }

    #About-Me-Hobbies #About-Me-Hobbies-Heading h2 {
        font-size: 5rem;
    }
    .About-Me-Hobbies-Head p {
        font-size: 2rem;
    }
    .About-Me-Hobbies-Card-Back p{
        font-size: 0.5rem;
    }
    .About-Me-Hobbies-Head h3 {
        font-size: 5rem;
    }
    .About-Me-Hobbies-Title p:first-child {
        font-size: 1.5rem;
    }
    .About-Me-Hobbies-Title p:nth-child(2) {
        font-size: 0.7rem;
    }
    .About-Me-Hobbies-Book-Genre p {
        font-size: 0.8rem;
    }
    .About-Me-Hobbies-Game-Genre p {
        font-size: 0.8rem;
    }
    #About-Me-Strength-Heading h2 {
        font-size: 5rem;
    }
    .About-Me-Strength-Details-List h3{
        font-size: 5rem;
    }
    .About-Me-Strength-Details-List h4{
        font-size: 1rem;
    }
    #About-Me-Achievements h2 {
        font-size: 5rem;
    }
    .About-Me-Achievements-List-Title p {
        font-size: 1.5rem;
    }
    .About-Me-Achievements-List-Title h3{
        font-size: 3rem;
    }
    .About-Me-Achievements-List-Description p{
        font-size: 1.2rem;
    }

    #Cuisine-Content {
        flex-direction: column;
    }

    .Hometown-Article h1 {
        font-size: 5rem;
    }

    .Cuisine-Content-Brief h2 {
        font-size: 4rem;
    }

    #Location h2 {
        font-size: 4rem;
    }

    #Introduction-Content p {   
        font-size: 1.2rem;
    }

    .Cuisine-Content-Brief p {
        font-size: 1.2rem;
    }

    .Content-Description p {
        font-size: 1rem;
    }
    #Location-List li label span {
        font-size: 2rem;
    }
    #Location-List .Location-Description {
        font-size: 1rem ;
    }

    #Animation-Title h1{
        font-size: 7rem;
    }

    aside#Animation-Info p{
        font-size: 1.5rem;
    }

    #Animations-About-Me #Animations-About-Me-Head h2{
        font-size: 3.5rem;
    }

    #Animations-Hometown-Head h2{
        font-size: 3.5rem;
    }

    .Animations-List-Item-Button a{
        font-size: 1.5rem;

    }

    .Animations-List-Item-Name h3 {
        font-size: 2.25rem;
    }
    #Animation-Title {
        height: 30vh;
    }

    footer {
        font-size: 0.9rem;
    }
    .Footer-Form-Social .fa-brands {
        font-size: 30px;
    }
    .Footer-Logo{
        font-family: 'Kanit';
        font-size: 3rem;
    }
}

@media only screen and (max-width: 900px) {
    #About-Me-Cover h2 {
        font-size: 4rem;
    }
    
    #About-Me-Detail #About-Me-Detail-Head h2 {
        font-size: 4rem;
    }

    #About-Me-Detail-Content {
        font-size: 1.2rem;
    }

    #About-Me-Detail #About-Me-Comment h2 {
        font-size: 3rem;
    }

    #About-Me-Comment-Details .Comment {
        font-size: 1.2rem;
    }

    #About-Me-Hobbies #About-Me-Hobbies-Heading h2 {
        font-size: 4rem;
    }
    .About-Me-Hobbies-Head p {
        font-size: 1.5rem;
    }
    .About-Me-Hobbies-Card-Back p{
        font-size: 0.3rem;
    }
    .About-Me-Hobbies-Head h3 {
        font-size: 4rem;
    }
    .About-Me-Hobbies-Title p:first-child {
        font-size: 1.3rem;
    }
    .About-Me-Hobbies-Title p:nth-child(2) {
        font-size: 0.6rem;
    }
    .About-Me-Hobbies-Book-Genre p {
        font-size: 0.6rem;
    }
    .About-Me-Hobbies-Game-Genre p {
        font-size: 0.6rem;
    }
    #About-Me-Strength-Heading h2 {
        font-size: 4rem;
    }
    .About-Me-Strength-Details-List h3{
        font-size: 4rem;
    }
    .About-Me-Strength-Details-List h4{
        font-size: 0.8rem;
    }
    #About-Me-Achievements h2 {
        font-size: 4rem;
    }
    .About-Me-Achievements-List-Title p {
        font-size: 1.3rem;
    }
    .About-Me-Achievements-List-Title h3{
        font-size: 2.5rem;
    }
    #About-Me-Strength-Details {
        flex-direction: column;
    }
    .About-Me-Strength-Details-List {
        width: 70%;
    }
    .About-Me-Achievements-List-Content {
        display: flex;
        flex-direction: column;
    }
    .About-Me-Achievements-List-Image {
        display: flex;
        justify-content: center;
    }
    .About-Me-Achievements-List-Image img {
        width: 70%;
    }

    .Hometown-Article h1 {
        font-size: 4rem;
    }

    .Cuisine-Content-Brief h2 {
        font-size: 3rem;
    }

    #Location h2 {
        font-size: 3rem;
    }

    #Introduction-Content p {   
        font-size: 1rem;
    }

    .Cuisine-Content-Brief p {
        font-size: 1rem;
    }

    .Content-Description p {
        font-size: 0.8rem;
    }
    #Location-List .Location-Description {
        font-size: 1rem
    }   
    .Location-Content {
        flex-direction: column;
    }

    #Location-List {
        width: 100%;
    }

    .Location-Content img {
        order: -1;
        width: 70%;
    }
    #Location-List li label {
        height: 100px;
    }

    .Timetable-Selection {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
    }

    .Timetable-Selection label{
        border-radius: 20px;
        padding: 5px 10px;
        color: white;
        background: rgb(214, 0, 0);
        font-size: 1rem;
    }

    table {
        width:90%
    }

    td, th {
        font-size: 1rem;
        padding: 1%;  
    }

    table tr .Monday, tr .Tuesday, tr .Wednesday, 
    tr .Thursday, tr .Friday, tr .Saturday, tr .Sunday{
        display: none;
    }

    .UniLife-Timetable label  {
        cursor: pointer;
        background-color: red;
    }

    input#Monday:checked ~ table tr .Monday {
        display: table-cell;
    }
    input#Tuesday:checked ~ table tr .Tuesday {
        display: table-cell;
    }
    input#Wednesday:checked ~ table tr .Wednesday {
        display: table-cell;
    }

    input#Thursday:checked ~ table tr .Thursday {
        display: table-cell;
    }

    input#Friday:checked ~ table tr .Friday {
        display: table-cell;
    }

    input#Saturday:checked ~ table tr .Saturday {
        display: table-cell;
    }

    input#Sunday:checked + table tr .Sunday {
        display: table-cell;
    }

    table tr{
        margin-bottom: 20px;
    }

    #Table-LeftTop {
        border-radius: 0;
    }
    
    #Table-RightTop {
        border-radius: 0;
    }
    
    #Table-LeftBottom {
        border-radius: 0;
    }
    
    #Table-RightBottom {
        border-radius: 0;
    }

    #Animation-Title h1{
        font-size: 5rem;
    }

    aside#Animation-Info p{
        font-size: 1rem;
    }

    #Animations-About-Me #Animations-About-Me-Head h2{
        font-size: 3.5rem;
    }

    #Animations-Hometown-Head h2{
        font-size: 3.5rem;
    }

    .Animations-List-Item-Button a{
        font-size: 1.1rem;

    }

    .Animations-List-Item-Name h3 {
        font-size: 1.75rem;
    }

    #Animation-Title {
        height: 30vh;
    }

    .Footer-Logo{
        font-family: 'Kanit';
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 700px) {
    .Nav li a{
        font-size: 20px;
    }
    .Nav{
        box-shadow: 0px 0px 4px rgba(175, 175, 175,0.5);
    }
    

    #About-Me-Cover h2 {
        font-size: 3rem;
    }
    
    #About-Me-Detail #About-Me-Detail-Head h2 {
        font-size: 3rem;
    }

    #About-Me-Detail-Content {
        font-size: 1rem;
    }

    #About-Me-Detail #About-Me-Comment h2 {
        font-size: 2.5rem;
    }

    #About-Me-Comment-Details .Comment {
        font-size: 1rem;
    }

    #About-Me-Hobbies #About-Me-Hobbies-Heading h2 {
        font-size: 3rem;
    }
    .About-Me-Hobbies-Head p {
        font-size: 1.3rem;
    }
    .About-Me-Hobbies-Card-Back p{
        font-size: 1rem;
    }
    .About-Me-Hobbies-Head h3 {
        font-size: 3rem;
    }
    .About-Me-Hobbies-Title p:first-child {
        font-size: 1.3rem;
    }
    .About-Me-Hobbies-Title p:nth-child(2) {
        font-size: 0.7rem;
    }
    .About-Me-Hobbies-Book-Genre p {
        font-size: 0.7rem;
    }
    .About-Me-Hobbies-Game-Genre p {
        font-size: 0.7rem;
    }
    #About-Me-Strength-Heading h2 {
        font-size: 3rem;
    }
    .About-Me-Strength-Details-List h3{
        font-size: 3rem;
    }
    .About-Me-Strength-Details-List h4{
        font-size: 0.8rem;
    }

    #About-Me-Strength {
        padding:30px;
    }

    .About-Me-Strength-Details-List {
        width: 80%;
        margin: 10px auto;
    }

    .About-Me-Strength-Details-List li {
        margin: 10px;
    }

    .Details-Bar {
        height: 10px;
    }

    .Details-Bar span {
        height: 10px;
    }

    #About-Me-Achievements h2 {
        font-size: 3rem;
    }
    .About-Me-Achievements-List-Title p {
        font-size: 1.2rem;
    }
    .About-Me-Achievements-List-Title h3{
        font-size: 2rem;
    }
    #About-Me-Comment-Details .Comment p{
        width: 100%;
    }

    .About-Me-Hobbies-List{
        flex-direction: column;
        align-items: center;
        gap: 20px
    }

    .About-Me-Achievements-List-Description p{
        font-size: 1rem;
    }


    .Hometown-Article h1 {
        font-size: 3rem;
    }

    .Cuisine-Content-Brief h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    #Location h2 {
        font-size: 2.5rem;
    }

    #Introduction-Content p {   
        font-size: 0.7rem;
    }

    .Cuisine-Content-Brief p {
        font-size: 0.7rem;
    }

    .Content-Description p {
        font-size: 0.6rem;
    }
    #Location-List .Location-Description {
        font-size: 0.8rem
    }

    #UniLife-Article section > h2 {
        font-size: 3rem;
    }

    .Timetable-Selection {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin: 20px;
    }

    .Timetable-Selection label{
        border-radius: 20px;
        padding: 5px 10px;
        color: white;
        background: rgb(214, 0, 0);
        font-size: 0.7rem;
    }

    table {
        width:90%
    }

    td, th {
        font-size: 0.7rem;
        padding: 1%;  
    }

    table tr .Monday, tr .Tuesday, tr .Wednesday, 
    tr .Thursday, tr .Friday, tr .Saturday, tr .Sunday{
        display: none;
    }

    .UniLife-Timetable label  {
        cursor: pointer;
        background-color: red;
    }

    input#Monday:checked ~ table tr .Monday {
        display: table-cell;
    }
    input#Tuesday:checked ~ table tr .Tuesday {
        display: table-cell;
    }
    input#Wednesday:checked ~ table tr .Wednesday {
        display: table-cell;
    }

    input#Thursday:checked ~ table tr .Thursday {
        display: table-cell;
    }

    input#Friday:checked ~ table tr .Friday {
        display: table-cell;
    }

    input#Saturday:checked ~ table tr .Saturday {
        display: table-cell;
    }

    input#Sunday:checked + table tr .Sunday {
        display: table-cell;
    }

    table tr{
        margin-bottom: 20px;
    }

    #Table-LeftTop {
        border-radius: 0;
    }
    
    #Table-RightTop {
        border-radius: 0;
    }
    
    #Table-LeftBottom {
        border-radius: 0;
    }
    
    #Table-RightBottom {
        border-radius: 0;
    }

    #Animation-Title h1{
        font-size: 4.5rem;
    }
    #Animation-Title {
        height: 25vh;
    }
    

    .Animations-List {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Animations-List-Item {
        margin: 20px 20px;
        width: 80%;
    }

    footer {
        bottom: unset;
    }

    .col {
        flex-basis: 100%;
    }
    
    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 100%;
    }
    .Footer-Logo{
        font-family: 'Kanit';
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 500px) {
    nav {
        height: 30px;
        border-radius: 5px;
    }
    #Nav-Check {
        line-height: 30px;
        font-size: 0.8rem;
    }
    nav .Nav-Logo {
        font-size: 20px;
        line-height: 30px;
    }

    #About-Me-Detail {
        padding: 30px;
    }

    #About-Me-Cover h2 {
        font-size: 2.5rem;
    }

    #About-Me-Detail {
        border-radius: 50px 50px 0 0;
    }
    
    #About-Me-Detail #About-Me-Detail-Head h2 {
        font-size: 1.5rem;
    }

    #About-Me-Comment-Details .Comment {
        padding: 20px;
    }

    #About-Me-Detail-Content {
        font-size: 0.5rem;
    }

    #About-Me-Detail #About-Me-Comment h2 {
        font-size: 1.25rem;
    }

    #About-Me-Comment-Details .Comment {
        font-size: 0.5rem;
    }

    #About-Me-Hobbies #About-Me-Hobbies-Heading h2 {
        font-size: 1.75rem;
    }
    .About-Me-Hobbies-Head p {
        font-size: 0.75rem;
    }
    
    .About-Me-Hobbies-Head h3 {
        font-size: 1.5rem;
    }
    .About-Me-Hobbies-Card-Back p{
        font-size: 0.6rem;
    }
    .About-Me-Hobbies-Title p:first-child {
        font-size: 1rem;
    }
    .About-Me-Hobbies-Title p:nth-child(2) {
        font-size: 0.6rem;
    }
    .About-Me-Hobbies-Book-Genre p {
        font-size: 0.5rem;
        border: 1px solid rgb(0, 0, 0);
    }
    .About-Me-Hobbies-Game-Genre p {
        font-size: 0.5rem;
        border: 1px solid rgb(255, 255, 255);
    }

    #About-Me-Hobbies-Games {
        border-radius: 40px 0 40px 0;
    }

    #About-Me-Strength-Heading h2 {
        font-size: 1.5rem;
    }
    .About-Me-Strength-Details-List h3{
        font-size: 1.5rem;
    }
    .About-Me-Strength-Details-List h4{
        font-size: 0.5rem;
    }
    #About-Me-Achievements h2 {
        font-size: 1.5rem;
    }
    .About-Me-Achievements-List-Title p {
        font-size: 0.7rem;
    }
    .About-Me-Achievements-List-Title h3{
        font-size: 1.25rem;
    }

    .About-Me-Achievements-List-Description p{
        font-size: 0.7rem;
    }

    .About-Me-Hobbies-Image {
        width: 60%;
    }
    .Content-Description p {
        font-size: 0.4rem;
    }
    .Cuisine-Content-Brief h2 {
        line-height: 2rem;
    }
    .Content-Description {
        border-radius: 15px;
    }
    #Location-List .Location-Description {
        font-size: 0.6rem;
        line-height: 0.6rem;
    }  

    #Animation-Title h1{
        font-size: 3rem;
    }

    #Animation-Title {
        height: 20vh;
    }
    
    aside#Animation-Info p{
        font-size: 1rem;
    }

    #Animations-About-Me #Animations-About-Me-Head h2{
        font-size: 2.5rem;
    }

    .Animations-List-Item-Button a{
        font-size: 1rem;
    }

    #Animations-Hometown-Head h2{
        font-size: 2.5rem;
    }

    .Animations-List-Item-Name h3 {
        font-size: 1.25rem;
    }
    

    footer {
        font-size: 20px;
        padding: 20px;
    }

    .col {
        flex-basis: 100%;
    }
    
    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 100%;
    }

    .Footer-Form-Social .fa-brands {
        font-size: 30px;
    }
    .Footer-Logo{
        font-family: 'Kanit';
        font-size: 1.75rem;
    }
}

@media only screen and (max-width: 400px) {
    .Nav li a{
        font-size: 15px;
    }

    .Nav li a span {
        height: 50px;
    }
    .About-Me-Hobbies-Card-Back p{
        font-size: 0.3rem;
    }
    .About-Me-Hobby {
        padding: 20px;
    }
    .About-Me-Hobbies-Book {
        width: 10rem;
    }

    .About-Me-Hobbies-Game {
        width: 10rem;
    }

    .Hometown-Article h1 {
        font-size: 2rem;
    }

    .Cuisine-Content-Brief h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }

    #Location h2 {
        font-size: 1.5rem;
    }

    #Introduction-Content p {   
        font-size: 0.4rem;
    }

    .Cuisine-Content-Brief p {
        font-size: 0.4rem;
    }

    #Location-List li label {
        padding: 5px;
    }

    .Content-Description p {
        font-size: 0.3rem;
    }

    #Location-List li label span {
        font-size: 1.5rem;
    }
    
    #Location-List .Location-Description {
        font-size: 0.4rem
    }  

    #UniLife-Article section > h2 {
        font-size: 2rem;
    }

    .Timetable-Selection label{
        font-size: 0.5rem;
    }

    td, th {
        font-size: 0.5rem;
    }

    footer {
        font-size: 15px;
        padding: 20px;
    }

    .col {
        flex-basis: 100%;
    }
    
    .col:nth-child(2), .col:nth-child(3) {
        flex-basis: 100%;
    }

    .Footer-Form-Social .fa-brands {
        font-size: 20px;
    }
    .col h3 {
        width: fit-content;
        margin-bottom: 10px;
    }
}
